<!-- Start Contact info -->
<div id="contact" style="height: 25px;"></div>
<div class="contact-imfo-box" style="margin-top: 100px;" >
    <div class="container" >
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-volume-control-phone"></i>
          <div class="overflow-hidden">
            <h4>Teléfono</h4>
            <p class="lead">
              (2345) 526-228
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope"></i>
          <div class="overflow-hidden">
            <h4>Email</h4>
            <p class="lead">
              email@gmail.com
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <i class="fa fa-map-marker"></i>
          <div class="overflow-hidden">
            <h4>Ubicación</h4>
            <p class="lead">
              Villa Larca, San Luis, AR
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact info -->