<!-- Start About -->
<div id="about" style="height: 25px;"></div>
<div class="about-section-box" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="assets/images/about-img.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
          <div class="inner-column">
            <h1>Bienvenidos a <span>Bien Caseritas</span></h1>
            <h4>Un poco de nuestra historia</h4>
            <p>Somos una pyme de pastas que apunta a la excelencia de productos naturales, frescos, con la mejor calidad y materia prima, sin el uso de ningún tipo de conservantes ni aditivos. Poniendo en cada pedido y en cada entrega lo mejor para que la hora del almuerzo o la cena sea un momento de relaje y disfrute de una muy buena pasta. </p>
            <p>Sin más buen provecho!</p>
            <a class="btn btn-lg btn-circle btn-outline-new-white" (click)="scroll('productos')">Mira nuestros productos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End About -->
