<app-slides></app-slides>

<app-about></app-about>

<!-- Start QT -->
<div>
<div class="qt-box qt-background">

    <div class="container">

      <div class="row" style="background: rgba(0,0,0,0.1)">
        <div class="col-md-8 ml-auto mr-auto text-left">
          <p class="lead ">
            "Nadie puede ser sensato con el estomago vacío. "
          </p>
          <span class="lead">George Eliot</span>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End QT -->

<app-menu></app-menu>

<app-menu-list></app-menu-list>

<!-- <app-gallery></app-gallery> -->

<!-- <app-resenas></app-resenas> -->

<app-contact></app-contact>
