.menu-list {
  margin-top: 70px;
}

.list-group {
  margin: 12px 0px;
}

.list-group-item-action.active{
  font-family: "Arbutus Slab", serif;
  font-size: 18px;
  font-weight: 500;
}

.list-group-item-action{
  font-family: "Arbutus Slab", serif;
}

.subname{
  font-family: 'Athiti', sans-serif;
}

.list-group-item.active{
  background-color: #46c7ad;
  border-color: #46c7ad;
}
